# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.sqlite3

# Virtual Environment
env/
venv/
.env

# Node
node_modules/
frontend/clime-monitor/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment files
backend/.env
