SECRET_KEY=django-insecure-genera-tu-propia-key-aqui
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=temperatura_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

API_KEY=TU_API_KEY_SEGURA
